#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Container{
  display: flex;
  flex-flow: row wrap;
}

.display{
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
}
.display span{
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
  margin-left: 10px;
  font-size: large;
}