body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
}

aside {
    flex: 1 1 12%;
    display: flex;
    flex-flow: row wrap;
    background-color: #1986B4;
    margin: 10px;
    color: white;
    /* height: 100vh; */
}

aside .profile {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border-bottom: 1px solid white;
    padding-top: 50px;
    padding-bottom: 30px;
}

.profile .profile-img {
    flex: 1 1 20%;
    /* border:1px solid; */
}

.profile .profile-info {
    flex: 1 1 40%;
    /* border: 1px solid; */
    font-size: 20px;
}

.profile-img img {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.profile-img img:hover {
    cursor: pointer;
}

nav {
    flex: 1 1 100%;
    display: flex;
    flex-flow: row wrap;
    height: 100vh;
    align-content: baseline;
    justify-content: center;
}

nav .my-tasks-button,
nav .all-tasks-button,
.bottom-buttons {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    font-size: 25px;
    margin-top: 20px;
    padding-left: 20%;
    align-content: space-between;
}

.my-tasks-button a {
    font-weight: bold;
}

.bottom-buttons {
    padding-left: 0;
}

.exit-button {
    flex: 1 1 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 10px;
}

.my-tasks-button:hover,
.all-tasks-button:hover,
.exit-button:hover {
    cursor: pointer;
}

.my-tasks-button img,
.all-tasks-button img,
.exit-button img {
    display: inline-block;
    width: 30px;
    height: 35px;
}

.my-tasks-button a,
.all-tasks-button a,
.exit-button a {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

main {
    flex: 1 1 70%;
    /* display: flex;
    flex-flow: row wrap; */
}

.menu {
    width: 20%;
    float: left;
    height: 900px;
    background-color: aquamarine;
    margin-right: 30px;
}

.poisk {
    height: max-content;
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    align-items: baseline;
    justify-content: left;
}
.poisk p{
    display: flex;
    flex: 1 1 20%;
    margin-right: -70%;
}

input {
    height: 30px;
    margin-left: 70px;
    margin-right: auto;
    background-color: transparent;
    stroke: darkcyan;
    stroke-width: 1px;
    border-radius: 25;
    font-size: large;
    border-radius: 15px;
    border: 1px solid #1986B4;
    float: left;
    border: none;
}

.input-containter {
    /* flex: 1 1 40%; */
    padding: 5px;
    width: 520px;
    height: 30px;
    border: 1px solid #1986B4;
    border-radius: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: #D4F0FE87;
    float: left;
    margin-right: 500px;
}

.input-container img {
    display: inline-block;
    height: 30px;
}

.input-container input {
    display: inline-block;
}

.ganeral {
    width: 400px;
    display: inline-flex;
}

.shapkaneedtodo,
.shapkainprogress,
.shapkadone {

    width: 330px;
    border-radius: 25px 25px 0px 0px;
    padding: 3px 10px 0px 10px;

}

.shapkaneedtodo {
    background-color: #FFD5B0;
}

.shapkainprogress {
    background-color: #FFAA60;
}

.shapkadone {
    background-color: #FF7E28;
}

.rightpart {
    width: 77%;
    display: flex;
    flex-direction: column;
}

.alltasks {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.fortasks {
    background-color: #D4F0FE87;
    border: 3px blue;
    border-bottom: 0px;
    padding: 10px;
    border-radius: 0px 0px 25px 25px;
}

.task-card {
    background-color: #fff;
    /* White background */
    border-radius: 25px;
    border: 1px solid #b2d1e5;
    /* Light blue border */
    max-width: 285px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: baseline;
    padding: 0;
}

.icon img {
    margin-right: 10px;
    margin-left: -15px;
    display: inline-block;
}

.icon a {
    font-size: 20px;
    display: inline-block;
    justify-content: center;
    align-content: baseline;
    margin-bottom: 10px;
    margin-top: -5px;
}


.icon h3 {
    margin: 0;
    margin-right: 10px;
    font-size: 20px;
    color: #333;
    /* Dark gray for title */
}

.content p {
    margin: 5px 0;
    color: #666;
    /* Gray for text */
}

.project {
    font-weight: bold;
    /* Bold for project label */
}

.date {
    display: flex;
    justify-content: flex-end;
}

.date-button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    background-color: #6CB4D6;
    /* Blue for button background */
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 17px;
}

.date-button p {
    display: inline-block;
    margin: 1px;
    margin-left: 5px;
}

.date-button:hover {
    background-color: #34a0b3;
    /* Darker blue on hover */
}

.foretask-header {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.foretask-header:hover {
    cursor: pointer;
}

.foretask-header img {
    width: 30px;
    height: 30px;
    float: left;
    margin: 5px;
}

.foretask-header p {
    display: block;
    margin-top: 10px;
}

.filters {
    height: 50px;
    width: fit-content;
    border: 1px solid;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #E8F7FE;
    border-radius: 15px;
    border: 1px solid #1986B4;
    display: flex;
    flex-flow: row wrap;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.filters img {
    margin-right: 10px;
}

.filters img:hover {
    cursor: pointer;
}

.filter-item {
    background-color: white;
    border-radius: 15px;
    border: 1px solid #1986B4;
    height: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.filter-item:hover {
    cursor: pointer;
}

.filter-item img {
    margin-left: 10px;
    margin-right: 10px;
}